body{
  background-color: #111;
  color: white;
  font-family: sans-serif;
}

footer{
  position: sticky;
  top: 100%;
  bottom: 0;
  padding: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: cente;
}

main {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
gap: 1rem;
padding: 2.4rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  background-color: #222222;
  padding: 24px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}